<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>

  <connectionStrings>
    <add name="Connection_String"
     connectionString="Data Source=.;Initial Catalog=OmidPayamak;IntegratedSecurity=True" />
  </connectionStrings>


  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="WebServiceSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:58392/WebService.asmx" binding="basicHttpBinding"
        bindingConfiguration="WebServiceSoap" contract="ServiceReferenceWS.WebServiceSoap"
        name="WebServiceSoap" />
    </client>
  </system.serviceModel>
</configuration>